/*
----------------------------------
TOC
----------------------------------


Fonts:....................Available font-family declarations

Globals:..................Styling of HTML and BODY

Bootstrap Overrides:......Changes to base-Bootstrap CSS

Site Elements:............Re-usable site elements

Structure:................Site structural components

Section Specific:.........Styles for Home and all Sub Pages

Template Specific:........Styles for WP Templates

Page/Element Specific:....Page, element or flow Specific CSS

Additive CSS:.............Additive/override CSS

Responsive:...............Specific styles for Desktop, Tablet and Mobile

*/



/*-----------------------------------
   Fonts
-------------------------------------
Roboto Light 300
font: normal 300 'Roboto', sans-serif;

Roboto Light 300 Italic
font: italic 300 'Roboto', sans-serif;

Roboto Normal 400
font: normal 400 'Roboto', sans-serif;

Roboto Normal 400 Italic
font: italic 400 'Roboto', sans-serif;

Roboto Medium 500
font: normal 500 'Roboto', sans-serif;

Roboto Medium 500 Italic
font: italic 500 'Roboto', sans-serif;

Roboto Bold 700
font: normal 700 'Roboto', sans-serif;

Roboto Bold 700 Italic
font: italic 700 'Roboto', sans-serif;
*/



/*-----------------------------------
   Globals
-----------------------------------*/
html body { background:#31373d; overflow-x:hidden; }

.wp_responsive_doc { color:#595959; font:normal 400 18px/1.333 'Roboto', sans-serif; }

.clearfix.add_margin_30.hidden-xs + .clearfix.add_margin_30.visible-sm { display: none !important; }


/*-----------------------------------
   Site Elements
-----------------------------------*/
h1.wp_responsive_doc,
.wp_responsive_doc h1 { padding:0; margin:0 0 15px; color:#333; font:normal 700 32px/1.333 'Roboto', sans-serif; }

h2.wp_responsive_doc,
.wp_responsive_doc h2 { padding:10px 0 0; margin:0 0 40px; border-top:7px solid #e1e1e1; color:#a4a4a4; font:normal 400 28px/1.333 'Roboto', sans-serif; }

h3.wp_responsive_doc,
.wp_responsive_doc h3 { padding:0; margin:0 0 5px; color:#333; font:normal 700 18px/1.333 'Roboto', sans-serif; }

h4.wp_responsive_doc,
.wp_responsive_doc h4 { padding:0; margin:0 0 5px; color:#b7b7b7; font:normal 500 16px/1.333 'Roboto', sans-serif; }

h5.wp_responsive_doc,
.wp_responsive_doc h5 { padding:0; margin:0 0 5px; color:#666; font:normal 500 14px/1.333 'Roboto', sans-serif; }



.wp_responsive_doc strong { font-family: 'Roboto', sans-serif; font-weight:700; }
.wp_responsive_doc strong em,
.wp_responsive_doc em strong { font-family: 'Roboto', sans-serif; font-weight:700; font-style:italic; }

.wp_responsive_doc a,
.wp_responsive_doc a:visited { color:#00a1d9; text-decoration:none; }
.wp_responsive_doc a:hover { color:#00a1d9; text-decoration:underline; }

.wp_responsive_doc .recommendations_do { color:#009915; text-transform:uppercase; }
.wp_responsive_doc .recommendations_dont { color:#b72126; text-transform:uppercase; }

.wp_responsive_doc .component_type { color:#333; color:#187dbb;  }

.wp_responsive_doc .doc_swatch { width:25px; height:25px; border:1px solid #ccc; text-indent:-9999px; }
.wp_responsive_doc .doc_swatch .doc_swatch { width:23px; height:23px; border:none; text-indent:-9999px; }

.wp_responsive_doc span.doc_swatch { padding: 12.5px; display: inline-block; vertical-align: text-bottom; }

.wp_responsive_doc .btn_secondary { border-radius:4px 4px 0 0; outline:none !important; transition:all ease-in-out .3s; }
.wp_responsive_doc .btn_secondary.collapsed { border-radius:4px; }
.wp_responsive_doc .btn_secondary:focus,
.wp_responsive_doc .btn_secondary:active { box-shadow:none; }

.doc_key { width: 25px; height: 25px; padding: 6px 7px 7px 7px; margin: 0 20px 15px 0; border-radius: 50%; background-color: #0072bc; color: #fff; font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 14px; font-weight: 500; float: left; text-align: center; }

.doc_key_container { margin:0 0 15px; overflow: hidden; }
.doc_key_container .doc_key { width:26px; height:26px; padding: 8px 0; margin:0 10px 0 0; font-size:14px; line-height:90%; }
.doc_key_container .reference_key { padding: 0; border:2px solid #e1e1e1; background: #fff; display:table; font-size:11px; opacity:.50; transition:all ease-in-out .3s; }
.doc_key_container .reference_key a { color:#e1e1e1; display: table-cell; vertical-align: middle; text-decoration:none; }
.doc_key_container .reference_key:hover { border-color:#666; background: #666; opacity:1;  }
.doc_key_container .reference_key:hover a { color:#fff; }
.doc_key_container .icon-mobile { margin: -2px -3px 0 0; }


.wp_responsive_doc .panel { margin-bottom:0; border-color:#187dbb; border-width:3px; border-radius:0 10px 10px 10px; }
.wp_responsive_doc .panel-body { font-size:15px; }
.wp_responsive_doc .panel-body h3 { margin-bottom:15px; /*color:#b7b7b7;*/ font-weight:500; }
.wp_responsive_doc .panel-body h4 { padding:3px 5px; margin-bottom:10px; background:#b7b7b7; color:#fff; }

.wp_responsive_doc .panel-body strong { font-family: 'Roboto', sans-serif; font-weight:500; }
.wp_responsive_doc .panel-body strong em,
.wp_responsive_doc .panel-body em strong { font-family: 'Roboto', sans-serif; font-weight:500; font-style:italic; }

.wp_responsive_doc .panel-body p,
.wp_responsive_doc .panel-body ul,
.wp_responsive_doc .panel-body img,
.wp_responsive_doc .panel-body h4,
.wp_responsive_doc .panel-body h5,
.wp_responsive_doc .panel-body table,
.wp_responsive_doc .panel-body pre,
.wp_responsive_doc .panel-body .num { margin-left: 20px; }
.wp_responsive_doc table { width: auto; }
.wp_responsive_doc table td { vertical-align: middle !important; }
.wp_responsive_doc .panel-body .table td p { margin-left:0; }
.wp_responsive_doc table td *:last-child { margin-bottom: 0; }

.wp_responsive_doc .panel-body [class*="col-"] img { margin-left: 0; }

.wp_responsive_doc table td small { display:block; }
.wp_responsive_doc .panel-body table td pre { margin-left:10px; margin-right:10px; }
.wp_responsive_doc .panel-body table td p.code_desc { margin-left:10px; margin-right:10px; }


.wp_responsive_doc .hi-lite { padding:0 2px; border-radius:5px; background-color:#54d0ff; background-color:rgba(0,161,217,.15); display:inline-block; }
.wp_responsive_doc .hi-lite-02 { padding:0 2px; border-radius:5px; background-color:#00ff00; background-color:rgba(0,255,0,.15); display:inline-block; }
.wp_responsive_doc .hi-lite-remove { padding:0 2px; border-radius:5px; background-color:#ff0000; background-color:rgba(255,0,0,.5); display:inline-block; text-decoration:line-through; }

.wp_responsive_doc .doc_color_chip_container { max-width:165px; margin:0 auto; position:relative; }
.wp_responsive_doc .doc_color_chip_content {  padding-bottom:20px; margin-bottom:15px; border:2px solid #e1e1e1; text-align:center; background:#fff; }
.wp_responsive_doc .doc_color_chip_swatch { height:65px; padding:5px 0; margin:1px 1px 20px; text-indent:-9999px; }
.wp_responsive_doc .doc_color_chip_content *:last-child { margin-bottom:0; }

.wp_responsive_doc .doc_color_chip_container li { font-size:83%; font-style:italic; }
.wp_responsive_doc .doc_color_chip_container .doc_key { width:18px; height:18px; padding:3px 0 0; margin:0 5px 5px 5px; display:block; font-size:11px; text-indent:-1px; }
.wp_responsive_doc .doc_color_chip_container .doc_key_absolute { position:absolute; }
.wp_responsive_doc .doc_color_chip_container .doc_color_chip_swatch .doc_key { background:#fff; color:#004b87; }

.spacing-grid-example { padding:0 15px; }
.spacing-grid-example .row { border-top:1px dotted #999; border-right:1px dotted #999; }
.spacing-grid-example .row + .row { border-top:none; }
.spacing-grid-example div[class*="col-xs-"] { border-bottom:1px dotted #999; border-left:1px dotted #999; }
.spacing-grid-example div[class*="col-xs-"] div { background:#f5f5f5; color:#999; text-align:center; }

.list-pages { column-count: 4; column-gap: 30px; }



/*-----------------------------------
   Structure
-----------------------------------*/

  /* ---- TopNav ---- */
  .navbar { min-height:70px; margin-bottom:0; padding:0; border:none; }

  .topnav_container { padding-top:17px; }

  .navbar-default { background:#31373d; color:#fff; font:normal 400 14px/1.00 'Roboto', sans-serif; }

  .navbar-collapse { max-height:none; }

  .navbar-header { width:calc(100% - 100px); padding:0; margin:0 0 0 15px; background:transparent; float:left; }
  .navbar-header .includes_contract_track { font-size:14px; display:block; opacity:0.3; }

  .navbar-brand { height:auto; padding:0 0 5px; margin-left:0 !important; display:block; float:none; font:normal 400 18px/1.00 'Roboto', sans-serif; }
  .navbar-header a.navbar-brand,
  .navbar-header a.navbar-brand:focus,
  .navbar-header a.navbar-brand:active,
  .navbar-header a.navbar-brand:visited { color:#fff; }
  .navbar-header a.navbar-brand:hover { color:#fff; opacity:0.5; text-decoration:none; }

    /* Mobile (xs) */
    @media (max-width:767px) {
      .navbar-brand { font-size:15px; }
    }  

  .navbar-form { margin-top:1px; }

  .nav_control { width:70px; height:70px; margin:-17px 0 0 -15px; background:#00a1d9; float:left; }
  .nav_control .navbar-toggle { padding:10px; margin:6px auto 0; border:none; box-shadow:none; display:block; float:none; text-shadow:none; }
  .nav_control .navbar-toggle:focus,
  .nav_control .navbar-toggle:hover { background:transparent; }

  .nav-control-label { font-size:10px; text-transform:uppercase; }

  .row-offcanvas.active .navbar-fixed-top { margin-right:-305px; left:305px; }


    /* Animation */
    .topnav_container .navbar-default {
      transition:all .1s ease-in;
    }

    .topnav_container .navbar-default {
      transition-property:margin-left, right;
      transition-duration:.5s;
    }

    body.admin-bar .navbar.navbar-fixed-top { top: 32px; }


    /* Mobile (xs) */
    @media (max-width:767px) {
      .collapse.navbar-collapse { display:block; }
    }


  /* ---- RightNav ---- */
  #sidebar .navbar { padding:0; border-radius:0; }
  #sidebar .navbar-collapse { width:255px; padding:20px 20px 0; background:#e6e6e6; overflow-y:auto !important; position:fixed; top:70px; bottom:0; }

  #sidebar .navbar-collapse ul { margin-bottom:20px; }

    /* Animation */
    .row-offcanvas { position:relative; transition:all .5s ease-in; }

    #sidebar .navbar-collapse { transition:all .5s ease-in; }

  .sidebar-offcanvas { width:255px; height:100%; padding:0; position:absolute; top:0; bottom:0; }

  .row-offcanvas-left { left:0; }
  .row-offcanvas-left .sidebar-offcanvas { left:-255px; }
  .row-offcanvas-left.active { left:255px; }

  #sidebar .navbar-collapse { left:-255px; }
  .row-offcanvas-left.active #sidebar .navbar-collapse { left:0; }

  .menu-offcanvas-nav-container a,
  .menu-offcanvas-nav-container a:focus,
  .menu-offcanvas-nav-container a:active,
  .menu-offcanvas-nav-container a:visited { color:#6f6f6f; text-decoration:none; }
  .menu-offcanvas-nav-container a:hover { color:#000; text-decoration:none; }
  .menu-offcanvas-nav-container ul > li {  padding-left:0; margin-bottom:10px; line-height:1.25; }
  .menu-offcanvas-nav-container > ul > li { font-size:15px; font-weight:500; }
  .menu-offcanvas-nav-container li > ul.sub-menu { padding-top:10px; padding-left:7px; font-weight:400; }

  .menu-offcanvas-nav-container li.current-menu-item > a { color:#000; }

  .menu-offcanvas-nav-container ul > li.nav_unlinked_parent { cursor:default; }
  .menu-offcanvas-nav-container ul > li.nav_unlinked_parent > a { color:#6f6f6f !important; }

  .menu-item-has-children > a { padding-bottom:3px; border-bottom:1px solid rgba(0,0,0,.25); display:block; }
  .menu-item-has-children { padding-top:3px; }

    /* Home Page */
    .home .content_container { width:100%; transition:all .5s ease-in; }
    .home .row-offcanvas-left.active .content_container { width:calc(100% - 255px); }


    /* Tablet (sm) */
    @media (max-width: 991px) and (min-width: 768px) {

      .collapse.navbar-collapse { display:block !important; }

    }


    /* Mobile (xs) */
    @media (max-width:767px) {

      .collapse.navbar-collapse { display:block; }

    }


  /* ---- Content Area ---- */
  .content_container { padding:90px 0 0; }

    /* Home Page */
    .home .content_container { padding-right:40px; padding-left:40px; }

    .standards_homepage_sidebar { font-size:16.5px; }
    .standards_homepage_sidebar .doc_news_feature > h3 { padding-bottom:3px; margin-bottom:15px; border-bottom:1px solid rgba(0,0,0,.25); color:#6f6f6f; font-weight:500; }

    .doc_news_feature { padding:15px 15px 0; background-color:rgba(230,230,230,0.5); font-size:15px; }
    .doc_news_feature .doc_news_element h3 { margin-bottom:3px; font-size:16px; font-weight:500; }
    .doc_news_feature .doc_news_element .news_publish_date { margin-bottom:3px; font-size:13px; } 
    .doc_news_feature .doc_news_element .more-link { display:none; }
    .doc_news_feature .doc_news_element *:last-child { margin-bottom:0; }
    .doc_news_feature .doc_news_element +  .doc_news_element { margin-top:20px; }

    .doc_news_element [class*="wpb_"],
    .doc_news_element [class*="_wpb"] { margin:0 !important; }

    .doc_news_feature_footer { padding:10px 0; margin:20px 0 0; font-size:14px; text-align:right; }


    .home .component_list ul { margin:0 30px 30px 0; float:left; }
    .home .alpha_components_clearfix { display:none; }

    @media (min-width:1151px) {
      .home .component_list ul { width:calc(25% - 30px); }
    }

    @media (min-width:961px) and (max-width:1150px) {
      .home .component_list ul { width:calc(33% - 30px); }
      .home .alpha_components_clearfix_3 { display:block; }
    }

    @media (min-width:687px) and (max-width:960px) {
      .home .component_list ul { width:calc(50% - 30px); }
      .home .alpha_components_clearfix_2 { display:block; }      
    }

    @media (max-width:686px) {
      .home .component_list ul { width:100%; margin-right:0; margin-bottom:0; }
    }




  /* ---- TOC ---- */
  .wp_responsive_doc_toc { padding:0 15px 15px; margin:8px 0 18px; background:#f4f4f4; font-size:14px; }
  .wp_responsive_doc_toc h2 { padding:7px 15px 5px; margin:0 -15px 12px; border-top:none; background:#31373d; color:#fff; font-size:18px; }
  .wp_responsive_doc_toc h3 { font-size:15px; font-weight:400; }
  .wp_responsive_doc_toc ul { margin-bottom:10px; }


  /* ---- Markup Modal ---- */
  #component_markup_modal .modal-header { overflow:hidden; position:relative; }
  #component_markup_modal .modal-header .close { font-size:34px; line-height:.55; outline:none; position:absolute; top:21px; right:15px; transition:all .3s ease; }
  #component_markup_modal .modal_title { max-width:calc(100% - 50px); margin:3px 0 0; font-weight:400; }
  #component_markup_modal .modal_subtitle { max-width:calc(100% - 50px); margin-bottom: 0; }
  #component_markup_modal .modal_subtitle:empty { display: none; }


  /* ---- Responsive Tester ---- */
  .breakpoint_indicator { padding:10px; margin-bottom:20px; color:#fff; }
  .breakpoint_indicator.visible-lg { background:#4AB0A0; }
  .breakpoint_indicator.visible-md { background:#022F40; }
  .breakpoint_indicator.visible-sm { background:#247BA0; }
  .breakpoint_indicator.visible-xs { background:#38AECC; }
  .breakpoint_indicator .breakpoint_code { color:rgba(255,255,255,0.5); float:right; }


  /* ---- News Template ---- */
  .template_news .doc_news_element { margin-bottom:30px; }
  .template_news .doc_news_element h3 { margin-bottom:3px; font-weight:500; }
  .template_news .doc_news_element .news_publish_date { margin-bottom:3px; font-size:85%; } 
  .template_news .doc_news_element .more-link { display:none; }


  /* ---- Comments ---- */
  .comments_container { padding:0 0 30px; border-top: 7px solid #e1e1e1; background:#f5f5f5; font-family:'Roboto', sans-serif; }
  .comments_container * { font-family:'Roboto', sans-serif !important; }

  .single_update_post .update_item { margin-bottom:0px; }
  .single_update_post ol.comment-list > li { padding-left:0; }
  .single_update_post .reply { padding-top:15px; text-align:right; }
  .single_update_post .comment-content *:last-child { margin-bottom: 0; }

    /* Fixes for site6 */
    .comments_container footer { padding:0; background:inherit; box-shadow:inherit; }

    /* Comment CSS from twentysixteen Theme */
    .comments-area { padding-top: 22px; }

    .comment-list + .comment-respond,
    .comment-navigation + .comment-respond { padding-top: 22px; }

    .comment-list + .comment-respond { border-top: 3px solid #e1e1e1; }
    .comments-title { margin-bottom: 22px; font-weight: 600; }
    .comment-reply-title { font-weight: 700; text-transform: none; }

    .comment-list .comment-respond { padding:15px; margin:0 0 20px 0.875em;; background:rgba(209,211,212,.5); position:relative; }

    /* ---- Mobile (xs) ---- */
    @media (max-width:767px) {
      .comment-list .comment-respond { margin:0 0 15px; }
    }

    .comment-list { list-style: none; margin: 0; }

    .comment-list article,
    .comment-list .pingback,
    .comment-list .trackback { border-top: 1px solid #d1d3d4; padding: 1.75em 0; padding: 20px 0; }

    .comment-list .children { list-style: none; margin: 0; }
    .comment-list .children > li { padding-left: 0.875em; }

    .comment-author { color: #1a1a1a; margin-bottom: 0.4375em; }
    .comment-author .avatar { float: left; height: 28px; margin-right: 0.875em; position: relative; width: 28px; }
    .bypostauthor > article .fn:after { left: 3px; position: relative; top: 5px; }

    .comment-metadata,  .pingback .edit-link { color: #686868; line-height: 1.6153846154; font-size: 12px; }
    .comment-metadata { margin-bottom: 2.1538461538em; }
    .comment-metadata a,
    .pingback .comment-edit-link { color: #686868; }

    .comment-metadata a:hover,
    .comment-metadata a:focus,
    .pingback .comment-edit-link:hover,
    .pingback .comment-edit-link:focus { color: #007acc; }

    .comment-metadata .edit-link,
    .pingback .edit-link { display: inline-block; }

    .comment-metadata .edit-link:before,
    .pingback .edit-link:before { content: "\002f"; display: inline-block; opacity: 0.7; padding: 0 0.538461538em; }

    .comment-content ul,
    .comment-content ol { margin: 0 0 1.5em 1.25em; }

    .comment-content li > ul,
    .comment-content li > ol { margin-bottom: 0; }

    .comment-reply-link { padding: 10px 14px 9px; margin: 0; border-color: #187dbb; border-radius: 4px; background: #187dbb; color: #fff; display:inline-block; font-size: 15px; font-weight: 400; line-height: 1.00; text-transform: capitalize; transition: all ease-in-out .2s; }

    .comment-reply-link,
    .comment-reply-link:focus,
    .comment-reply-link:active,
    .comment-reply-link:visited { background: #187dbb; color: #fff; }

    .comment-reply-link:hover { background: #187dbb; box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2); color: #fff; text-decoration:none; }

    .comment-form label { color: #686868; display: block; font-size: 12px; margin-bottom: 0.5384615385em; text-transform: uppercase; }
    .comment-notes,  .comment-awaiting-moderation,  .logged-in-as,  .form-allowed-tags { color: #686868; margin-bottom: 2.1538461538em; font-size: 13px; }

    .no-comments { border-top: 1px solid #d1d1d1; font-weight: 700; margin: 0; padding-top: 1.75em; }

    .comment-navigation + .no-comments { border-top: 0; padding-top: 0; }

    .form-allowed-tags code { font-family: Inconsolata, monospace; }
    .form-submit { margin-bottom: 0; }
    .form-submit .submit { padding: 15px 15px 13px; margin: 0; border: 1px solid #187dbb; border-radius: 4px; background: #187dbb; color: #fff; display:block; font-size: 15px; font-weight: 400; line-height: 1.00; text-transform: capitalize; transition: all ease-in-out .2s; }

    #comment { padding:5px; width:50%; }

    /* ---- Small Desktop (md) ---- */
    @media (min-width:992px) and (max-width:1199px) {
      #comment { width:66.666%; }
    }

    /* ---- Tablet (sm) ---- */
    @media (min-width:768px) and (max-width:991px) {
      #comment { width:75%; }
    }

    /* ---- Mobile (xs) ---- */
    @media (max-width:767px) {
      #comment { width:100%; }
    }

    .form-submit .submit:focus,
    .form-submit .submit:active,
    .form-submit .submit:visited { border: 1px solid #187dbb; background: #187dbb; color: #fff; }
    .form-submit .submit:hover { border: 1px solid #187dbb; background: #187dbb; box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2); color: #fff; }

    .required { color: #007acc; }

    @media (min-width:768px) {
      .comment-reply-title small a { padding: 15px 15px 13px; margin: 0; border-color: #717273; border-radius: 4px; background: #717273; bottom:15px; color: #fff; display:inline-block; font-size: 15px; font-weight: 400; line-height: 1.00; position:absolute; right:15px; text-transform: capitalize; transition: all ease-in-out .2s; }

      .comment-reply-title small a:focus,
      .comment-reply-title small a:active,
      .comment-reply-title small a:visited { background: #717273; color: #fff; }
      .comment-reply-title small a:hover { background: #717273; box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2); color: #fff; text-decoration:none; }
    }

    @media (max-width:767px) {
      .comment-reply-title small { font-size: 100%; }
      .comment-reply-title small a { float:right; }
    }


  /* ---- Footer ---- */
  #footer.wp_responsive_doc { padding-top:0; background:#31373d; }
  .wp_responsive_doc .footer { min-height:10px; padding:18px 0; color:rgba(255,255,255,0.3); font-size:14px; font-weight:400; }

    @media (max-width:767px) {
      .wp_responsive_doc .footer { padding-bottom:18px !important; }
    }



/*-----------------------------------
   Page Specific
-----------------------------------*/
/* ---- Search ---- */
.search-results .wp_responsive_doc h2.entry-title { margin-bottom:5px; font-size:20px; }

.search-results .wp_responsive_doc .searchwp-highlight { padding:0 2px; border-radius:5px; background-color:#54d0ff; background-color:rgba(0,161,217,.15); display:inline-block; }


/*-----------------------------------
   Responsive
-----------------------------------*/
/* ---- Non Mobile ---- */
@media (min-width:168px) {

}

/* ---- Large Desktop (lg) ---- */
@media (min-width:1200px) {

}

/* ---- Small Desktop (md) ---- */
@media (min-width:992px) and (max-width:1199px) {

}

/* ---- Tablet (sm) ---- */
@media (min-width:768px) and (max-width:991px) {

}

/* ---- Mobile (xs) ---- */
@media (max-width:767px) {
  .list-pages { column-count: 2; column-gap: 30px; }

}
