//-----------------------------------
//   Responsive Functions
//-----------------------------------

//Global Resizer
@function responsive_resizer($size_input, $override_breakpoint:$browser_width) {  

  @if $override_breakpoint {

    @if $override_breakpoint == 'lg' {
      $size_input: $size_input * 1.00;
    } @elseif $override_breakpoint == 'md' {
      $size_input: $size_input * 0.824561404;
    } @elseif $override_breakpoint == 'sm' {
      $size_input: $size_input * 0.657894737;
    } @elseif $override_breakpoint == 'xs' {
      $size_input: $size_input * 0.421052632;
    }

  } @else {

    @if $browser_width == 'lg' {
      $size_input: $size_input * 1.00;
    } @elseif $browser_width == 'md' {
      $size_input: $size_input * 0.824561404;
    } @elseif $browser_width == 'sm' {
      $size_input: $size_input * 0.657894737;
    } @elseif $browser_width == 'xs' {
      $size_input: $size_input * 0.421052632;
    }

  }

  $size_input: round($size_input); //Round to the next whole number
  @return $size_input;  
}


//Global Font Resizer
@function responsive_font_resizer($font_size, $override_breakpoint:$browser_width) {  

  @if $override_breakpoint {

    @if  $override_breakpoint == 'lg' {
      $font_size: $font_size * 1.00;
    } @elseif  $override_breakpoint == 'md' {
      $font_size: $font_size * 0.888888889;
    } @elseif  $override_breakpoint == 'sm' {
      $font_size: $font_size * 0.777777778;
        @if ($font_size < 14px) {
          $font_size: 14px;
        }      
    } @elseif  $override_breakpoint == 'xs' {
      $font_size: ($font_size * 0.555555556) + 2;
      @if ($font_size < 14px) {
        $font_size: 14px;
      }
    }

  } @else {

    @if $browser_width == 'lg' {
      $font_size: $font_size * 1.00;
    } @elseif $browser_width == 'md' {
      $font_size: $font_size * 0.888888889;
    } @elseif $browser_width == 'sm' {
      $font_size: $font_size * 0.777777778;
    } @elseif $browser_width == 'xs' {
      $font_size: ($font_size * 0.555555556) + 2;
      @if ($font_size < 14px) {
        $font_size: 14px;
      } 
    }
  }   

 $font_size: round($font_size); //Round to the next whole number 
 @return $font_size;  
}


//REM-ifier
@function remifier($resize_input) {  

  $resize_input: $resize_input / ($resize_input * 0 + 1);  //Strip units from number
  $unitless_global_font-size: $global_font-size / ($global_font-size * 0 + 1);

  $resize_input: $resize_input / $unitless_global_font-size;
  $resize_input: $resize_input * 1rem;

  @return $resize_input;  
}



//-----------------------------------
//   Fonts
//-----------------------------------
$primary_font-family: 'Roboto', sans-serif;
//$secondary_font_family: '';
//$tertiary_font_family: '';



//-----------------------------------
//   Globals
//-----------------------------------
$global_background: #e6e6e6;
$global_color: #212121;

$global_font-family: $primary_font-family;
$global_font-size: 20px;
$global_font-weight: 400;
$global_line-height: 1.50;


$global_margin-bottom: 1.45em;


// ---- Colors ---- //

  // White //
  $global_color_white: #fff;                          // White


  // Black //
  $global_color_black: #000;                          // Black


  // Grays //
  $global_color_gray_01: #212121;                     // Gray 900: Default font color
  $global_color_gray_02: #616161;                     // Gray 700: add_color_mediumgray | Captions | Blockquote
  $global_color_gray_03: #7d7d7d;                     // Gray 600: Search Refine
  $global_color_gray_04: #bfbfbf;                     // Gray 300: CTA Primary Hover (sm+xs)
  $global_color_gray_05: #e6e6e6;                     // Gray 100: HR | Panel Borders | Tab Borders | Separators
  $global_color_gray_06: #f5f5f5;                     // Gray 50:  add_background_gray | Table Striping | Panels


  // Reds //
  $global_color_red_01: #b7312c;                      // Red 600: MATALB Code Coloring: Undeterminated Strings | Errors | Syntax Error
  $global_color_red_02: #b7312c;                      // Red 600: senary Color | Alerts (Error)
  $global_color_red_03: #faf0f0;                      // Red 100: Alerts (Error) Background


  // Yellows | Oranges //
  $global_color_orange_01: #c04c0b;                   // Orange 600: emphasize Color | color_darkorange
  $global_color_orange_02: #c04c0b;                   // Orange 600: septenary Color | color_orange | Alerts (Warning)
  $global_color_orange_03: #edb120;                   // Gold 600:   quaternary Color | color_yellow
  $global_color_orange_04: #8b6606;                   // Yellow 600: MATALB Code Coloring: System Commands
  $global_color_orange_05: #fef9ed;                   // Orange 100: Alerts (Warning) Background


  // Greens //
  $global_color_green_01: #008013;                    // Green 600: tertiary Color | color_green | Alert (Success) 
  $global_color_green_02: #008013;                    // Green 600: MATALB Code Coloring: Comment | Success
  $global_color_green_03: #f5fff2;                    // Green 100: Alert (Success) Background


  // Blues //
  $global_color_blue_01: #00a9e0;                     // quinary Color | color_aqua | Search Refine
  $global_color_blue_02: #0076a8;                     // Brand 1: secondary Color | color_blue | Links | Buttons | Alerts (Info)
  $global_color_blue_03: #004b87;                     // Brand 2: color_darkblue | Visited Links | Buttons 
  $global_color_blue_04: rgba(102,175,233,0.6);       // Outline Focus Color (Mimic Chrome)
  $global_color_blue_05: #e2f0ff;                     // Blue 100: Alerts (Info) Background 


  // Purples //
  $global_color_purple_01: #0e00ff;                   // Cobalt 600: MATALB Code Coloring: Keyword
  $global_color_purple_02: #7730ba;                   // Purple 800: color_purple
  $global_color_purple_03: #a709f5;                   // Purple 600: MATALB Code Coloring: String


//-----------------------------------
//   Site Elements
//-----------------------------------

// ---- Hierarchy ---- //
$h1_margin-bottom: 20px;
$h1_color: #000;
$h1_font-family: $primary_font-family;
$h1_font-size: 28px;
$h1_font-weight: 600;
$h1_line-height: 1.50;

$h2_margin-bottom: 10px;
$h2_color: #000;
$h2_font-family: $primary_font-family;
$h2_font-size: 24px;
$h2_font-weight: 600;
$h2_line-height: 1.50;

$h3_margin-bottom: 0;
$h3_color: #000;
$h3_font-family: $primary_font-family;
$h3_font-size: 22px;
$h3_font-weight: 600;
$h3_line-height: 1.50;

$h4_margin-bottom: 0;
$h4_color: #000;
$h4_font-family: $primary_font-family;
$h4_font-size: 20px;
$h4_font-weight: 400;
$h4_line-height: 1.50;


// ---- Hierarchy ---- //
$strong_font-weight: 700;


// ---- Links ---- //
$link_color: #00ffff;
$link_color-visited: $link_color;
$link_color-hover: #ffff00;

$link_text-decoration: none;
$link_text-decoration-visited: $link_text-decoration;
$link_text-decoration-hover: $link_text-decoration;


// ---- Lists ----- //

  // Lists: Unordered //
  $list_margin-bottom: $global_margin-bottom;
  $list_item_margin-bottom: 10px;
  $list_item_padding-left: 15px;
  $list_item_line-height: 1.45;

  $list_item_bullet-color: #00ff00;
  $list_item_bullet-content: "\2022";

  // Lists: Ordered //
  $ordered_list_bullet_font-weight: 700;


// ---- Paragraphs ---- //
$paragraph_margin-bottom: $global_margin-bottom;

$paragraph_intro_font-size: 26px;


// ---- Buttons ---- //
$button_margin-bottom: $global_margin-bottom;
$button_padding-top: 20px;
$button_padding-right: 40px;
$button_padding-bottom: 15px;
$button_padding-left: 40px;
$button_border: 1px solid #00ff00;
$button_border-radius: 4px;
$button_background: #ffff00;
$button_color: #fff;
$button_font-size: 20px;
$button_font-weight: 600;
$button_text-transform: uppercase;

$button_hover_border-color: #00ff00;
$button_hover_background: #ffff00;
$button_hover_color: #fff;


// ---- CTAs ---- //
$cta_padding_right: 7px;
$cta_color: #00ff00;
$cta_content: "\00bb";
$cta_font-size: 140%;


// ---- Horizontal Rule ---- //
$hr_margin-bottom: $global_margin-bottom;
$hr_border-bottom: 1px solid #00ff00;



//-----------------------------------
//   Structure
//-----------------------------------

// ---- Header ---- //
$navbar_brand_width: 322px;

  //Desktop Menu
  $navbar_font-size: 18px;
  $navbar_dropdown_font-size: 16px;

  // Mobile Menu
  $xs_navbar_brand_width: 200px;
  $xs_navbar_toggle_margin-top: 5px;

  $xs_navbar_background: #00ff00;
  $xs_navbar_color: #fff;
  $xs_navbar_font-size: 14px;
  $xs_navbar_font-weight: 600;


// ---- Content Area ---- //
$content_height: 800px;
$content_padding-top: 0;
$content_padding-bottom: 50px;


// ---- Footer ---- //
$footer_padding-top-bottom: 60px;
$footer_background: #00ff00;
$footer_color: #fff;
$footer_font-size: 14px;
$footer_font-weight: 600;
$footer_line-height: 1.45;

$footer_link_color: #00ffff;
$footer_link_color-visited: $footer_link_color;
$footer_link_color-hover: #ffff00;

$footer_link_text-decoration: none;
$footer_link_text-decoration-visited: $footer_link_text-decoration;
$footer_link_text-decoration-hover: $footer_link_text-decoration;



//------------------------------------
// Additive CSS
//------------------------------------

  // Add: Borders //
  $additive_border-color: #333;

  // Add: Emphasis //
  $additive_emphasis_color: #00ff00;